body{
    background-color:rgb(211, 210, 151);
    color:rgb(0, 0, 0)
}
nav{
    height:600px;
    width:200px;
    float:left;
    line-height:30px;
    padding:10px;
}
footer{
    text-align:center;
    margin-right:200px;
}
#memeImage{
    margin-right:200px;
}
#page-titleOne{
    color:rgb(0, 0, 0);
    text-align:center;
}   
#page-titleTwo{
    color:rgb(0, 0, 0);
    text-align:center;
}
